@model List<Tarea_3.Models.producto>

<h2>Productos para Mascotas</h2>

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.nom</td>
                <td>@p.tipo</td>
                <td>$@p.prec</td>
            </tr>
        }
    </tbody>
</table>
